<a href="https://colab.research.google.com/github/ngtianxun08/bigDataworkshops/blob/main/Workshop_04_NoSQL_and_Spark_Query_Language_(Python_%26_COLAB).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount google drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

A. Data retrieval using Spark SQL

1. Retrieve all Driver data (use Drivers.CSV)

In [6]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("DriverDataRetrieval").getOrCreate()

# Load the Drivers.CSV file into a Spark DataFrame
drivers_df = spark.read.csv("/content/drive/Othercomputers/My Laptop/NUS_GDrive/Big data/workshopData/data/BEAD_Rebu_Drivers.csv", header=True, inferSchema=True)

# Register the DataFrame as a temporary SQL view
drivers_df.createOrReplaceTempView("drivers")

# Retrieve all Driver data using Spark SQL
all_drivers = spark.sql("SELECT * FROM drivers")

# Display the retrieved data
all_drivers.show()

+---+-----------------+-----------+-------------+------+
|Sno|       DriverName|DriverPhone|TaxiIDDriving|Rating|
+---+-----------------+-----------+-------------+------+
|  1|Georgiana Iverson|   38587202|          209|   1.7|
|  2|   Ewell Rolstone|   88675586|          243|   4.9|
|  3|    Pedro Thacker|   94452422|          197|   2.6|
|  4|     Winn Kellard|   81521505|          456|   4.8|
|  5|   Ermin Trounson|   21644415|          372|   4.1|
|  6| Weylin Bernhardi|   89930924|          397|   4.7|
|  7|  Giuseppe Manton|   78503208|          463|   3.3|
|  8| Friedrich De'Ath|   64901517|          264|   4.4|
|  9|  Lauraine Galton|   28736147|          367|   4.7|
| 10|   Debra Willeman|   97189395|          277|   4.6|
| 11| Francene Gavriel|   88137354|           32|   4.9|
| 12|     Eyde Brosini|   34871916|          386|   4.2|
| 13|  Orelia Woolfoot|   28037658|          329|   4.1|
| 14|Christi Middleton|   97577827|          453|   4.8|
| 15|     Jamey Cecely|   48329871|          418|   4.7|
| 16|  Rosetta Matanin|   59730924|          335|   3.4|
| 17|Antonina Newlands|   50182407|          255|   3.3|
| 18|  Eilis MacGraith|   87527429|          385|   4.5|
| 19|    Cozmo Macenzy|   20817333|          503|   4.5|
| 20| Demetrius Fuente|   66677742|          500|   3.0|
+---+-----------------+-----------+-------------+------+
only showing top 20 rows

2. Retrieve all Taxis and display the data in ascending order of Taxi License Plate number.

In [11]:
# Load the TaxiCabs.json file into a Spark DataFrame with multiline option
taxis_df = spark.read.option("multiline", "true").json("/content/drive/Othercomputers/My Laptop/NUS_GDrive/Big data/workshopData/data/BEAD_Rebu_TaxiCabs.json")

# Register the DataFrame as a temporary SQL view
taxis_df.createOrReplaceTempView("taxis")

# Retrieve all Taxi data using Spark SQL and order by TaxiNumber
all_taxis_ordered = spark.sql("SELECT * FROM taxis ORDER BY TaxiNumber ASC")

# Display the retrieved data
all_taxis_ordered.show()

+--------+---------+------+--------------------+----------+---------------------+--------+
|  TMDTID|TaxiColor|TaxiID|       TaxiMakeModel|TaxiNumber|TaxiPassengerCapacity|TaxiType|
+--------+---------+------+--------------------+----------+---------------------+--------+
|TMB18597|    White|    59|       Mercedes Benz|   SHX0106|                    4|Limosine|
|TMB76389|   Yellow|   464|Hyundai Ioniq Hybrid|   SHX0278|                    4|Standard|
|TMA22172|   Yellow|   352|Hyundai Ioniq Hybrid|   SHX0354|                    4|Standard|
|TMB30762|     Grey|   236| Toyota Camry Hybrid|   SHX0399|                    4| Premier|
|TMA25750|     Grey|   188| Toyota Camry Hybrid|   SHX0541|                    4| Premier|
|TMB51371|    White|    32|       Mercedes Benz|   SHX0588|                    4|Limosine|
|TMC74051|    Black|   378|     Toyota Vellfire|   SHX0613|                    6|Maxi Cab|
|TMA27837|     Blue|   460|         Hyundai i40|   SHX0694|                    4|Standard|
|TMC96842|     Blue|   247|             Kia EV6|   SHX0732|                    5| Premier|
|TMC20008|   Yellow|   260|        Toyota Prius|   SHX0791|                    4|Standard|
|TMA66613|   Yellow|   132|             Kia EV6|   SHX0830|                    5| Premier|
|TMB27976|    Brown|   104|           Honda Fit|   SHX0897|                    3|Mini Cab|
|TMC78239|   Yellow|   239|         Hyundai i40|   SHX0907|                    4|Standard|
|TMA72574|      Red|   507|           Honda Fit|   SHX0915|                    3|Mini Cab|
|TMA63673|      Red|   512|           Honda Fit|   SHX0915|                    3|Mini Cab|
|TMA38948|    White|   164|       Mercedes Benz|   SHX0941|                    4|Limosine|
|TMB11317|   Yellow|    51|        Toyota Prius|   SHX1022|                    4|Standard|
|TMC80644|    White|   272|       Mercedes Benz|   SHX1030|                    4|Limosine|
|TMC80617|      Red|   115|           Honda Fit|   SHX1043|                    3|Mini Cab|
|TMA49443|     Blue|   102|      Toyota Carolla|   SHX1081|                    4|Standard|
+--------+---------+------+--------------------+----------+---------------------+--------+
only showing top 20 rows

3. Retrieve  all  Limosine  Taxies.  You  should  display  only  the  Taxi  Number,  Taxi  Type,  and  Taxi
Colour.

In [12]:
# Retrieve all Limosine Taxies and display specific columns using Spark SQL
limosine_taxis = spark.sql("SELECT TaxiNumber, TaxiType, TaxiColor FROM taxis WHERE TaxiType = 'Limosine'")

# Display the retrieved data
limosine_taxis.show()

+----------+--------+---------+
|TaxiNumber|TaxiType|TaxiColor|
+----------+--------+---------+
|   SHX7048|Limosine|    White|
|   SHY9725|Limosine|    White|
|   SHY0981|Limosine|    White|
|   SHX0588|Limosine|    White|
|   SHZ7647|Limosine|    White|
|   SHX0106|Limosine|    White|
|   SHY1153|Limosine|    White|
|   SHY0245|Limosine|    White|
|   SHX5521|Limosine|    White|
|   SHZ8902|Limosine|    White|
|   SHZ4353|Limosine|    White|
|   SHY4481|Limosine|    White|
|   SHZ1333|Limosine|    White|
|   SHX4161|Limosine|    White|
|   SHY7440|Limosine|    White|
|   SHY6224|Limosine|    White|
|   SHZ2957|Limosine|    White|
|   SHY5616|Limosine|    White|
|   SHX0941|Limosine|    White|
|   SHY9774|Limosine|    White|
+----------+--------+---------+
only showing top 20 rows

4. Retrieve all 4 seater Premier taxis.

In [13]:
# Retrieve all 4 seater Premier taxis using Spark SQL
premier_4seater_taxis = spark.sql("SELECT * FROM taxis WHERE TaxiType = 'Premier' AND TaxiPassengerCapacity = 4")

# Display the retrieved data
premier_4seater_taxis.show()

+--------+---------+------+-------------------+----------+---------------------+--------+
|  TMDTID|TaxiColor|TaxiID|      TaxiMakeModel|TaxiNumber|TaxiPassengerCapacity|TaxiType|
+--------+---------+------+-------------------+----------+---------------------+--------+
|TMB02825|   Silver|     4|Toyota Camry Hybrid|   SHX4872|                    4| Premier|
|TMB67907|   Silver|    16|Toyota Camry Hybrid|   SHY9209|                    4| Premier|
|TMC66738|     Grey|    18|Toyota Camry Hybrid|   SHY2915|                    4| Premier|
|TMC10802|     Grey|    23|Toyota Camry Hybrid|   SHY9485|                    4| Premier|
|TMA12261|     Grey|    37|Toyota Camry Hybrid|   SHY7838|                    4| Premier|
|TMA41233|   Silver|    43|Toyota Camry Hybrid|   SHX5153|                    4| Premier|
|TMA79747|     Grey|    57|Toyota Camry Hybrid|   SHY3876|                    4| Premier|
|TMB16199|   Silver|    60|Toyota Camry Hybrid|   SHZ3746|                    4| Premier|
|TMC67061|   Silver|    84|Toyota Camry Hybrid|   SHX4335|                    4| Premier|
|TMA22969|     Grey|    98|Toyota Camry Hybrid|   SHY2548|                    4| Premier|
|TMA98590|   Silver|   108|Toyota Camry Hybrid|   SHX7074|                    4| Premier|
|TMB35280|     Grey|   149|Toyota Camry Hybrid|   SHZ7300|                    4| Premier|
|TMB49478|   Silver|   152|Toyota Camry Hybrid|   SHY8172|                    4| Premier|
|TMC46427|   Silver|   167|Toyota Camry Hybrid|   SHY4629|                    4| Premier|
|TMC70256|   Silver|   174|Toyota Camry Hybrid|   SHY4078|                    4| Premier|
|TMA25750|     Grey|   188|Toyota Camry Hybrid|   SHX0541|                    4| Premier|
|TMA29795|   Silver|   199|Toyota Camry Hybrid|   SHX6044|                    4| Premier|
|TMA38700|   Silver|   228|Toyota Camry Hybrid|   SHY2306|                    4| Premier|
|TMB30762|     Grey|   236|Toyota Camry Hybrid|   SHX0399|                    4| Premier|
|TMB53278|     Grey|   241|Toyota Camry Hybrid|   SHY6935|                    4| Premier|
+--------+---------+------+-------------------+----------+---------------------+--------+
only showing top 20 rows

B. Aggregation and Statistical Queries (use BEAD_Rebu_TripData.CSV)

5. Determine the average distance per trip based on ALL trips in the month of January 2024.

In [17]:
# Load the TripData.CSV file into a Spark DataFrame
tripdata_df = spark.read.csv("/content/drive/Othercomputers/My Laptop/NUS_GDrive/Big data/workshopData/data/BEAD_Rebu_TripData.csv", header=True, inferSchema=True)

# Display schema and some rows of the original DataFrame to check date format and column values
print("Original DataFrame Schema:")
tripdata_df.printSchema()
print("Original DataFrame Head:")
tripdata_df.show(5)

# Filter for trips in January 2024
january_trips_df = tripdata_df.filter("Date LIKE '%-Jan-24'")

# Show the filtered data and count the rows to see if any data is selected
print("Filtered DataFrame for January 2024:")
january_trips_df.show()
print(f"Number of trips in January 2024: {january_trips_df.count()}")


# Calculate the average distance for January trips
average_distance_january = january_trips_df.agg({"Distance Travelled": "avg"}).collect()[0][0]

# Display the average distance
print(f"The average distance per trip in January 2024 is: {average_distance_january}")

Original DataFrame Schema:
root
 |-- Sno: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Day: string (nullable = true)
 |-- Hour of Day: integer (nullable = true)
 |-- Trip Start Time HHMM: timestamp (nullable = true)
 |-- Pickup District: string (nullable = true)
 |--  DropOff District: string (nullable = true)
 |-- Distance Travelled: double (nullable = true)
 |-- Trip Duration in Seconds: integer (nullable = true)
 |-- Trip End Time: timestamp (nullable = true)
 |-- Taxi Number: string (nullable = true)
 |-- Taxi Type: string (nullable = true)
 |-- Taxi Capacity: integer (nullable = true)
 |-- Number Of Passengers: integer (nullable = true)
 |-- Trip Fare: double (nullable = true)
 |-- Passenger ID: integer (nullable = true)
 |-- Passenger Name: string (nullable = true)

Original DataFrame Head:
+---+--------+---+-----------+--------------------+---------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|Sno|    Date|Day|Hour of Day|Trip Start Time HHMM|Pickup District| DropOff District|Distance Travelled|Trip Duration in Seconds|      Trip End Time|Taxi Number|Taxi Type|Taxi Capacity|Number Of Passengers|Trip Fare|Passenger ID|Passenger Name|
+---+--------+---+-----------+--------------------+---------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|  1|1-Jan-24|Mon|          0| 2025-09-01 00:01:00|      Kew Drive|         Clementi|              25.1|                    3001|2025-09-01 01:50:00|    SHY6685| Standard|            4|                   2|    49.91|       11841|     Ellen Han|
|  2|1-Jan-24|Mon|          0| 2025-09-01 00:01:00|         Marina|    Clementi Park|              12.8|                    1671|2025-09-01 00:29:00|    SHY1488| Mini Cab|            3|                   3|    28.17|       10126|  Matthew Feng|
|  3|1-Jan-24|Mon|          0| 2025-09-01 00:02:00|         Bishan|      Hume Avenue|              19.8|                    3332|2025-09-01 01:57:00|    SHX0354| Standard|            4|                   1|    44.67|       11259|      Agnes Bi|
|  4|1-Jan-24|Mon|          0| 2025-09-01 00:05:00|    Suntec City| Upper East Coast|              16.8|                    2904|2025-09-01 01:52:00|    SHZ0338| Mini Cab|            3|                   1|    37.54|       10710|   Harry Huang|
|  5|1-Jan-24|Mon|          0| 2025-09-01 00:06:00|      Chinatown|          Geylang|              17.6|                    2413|2025-09-01 01:45:00|    SHY5827| Mini Cab|            4|                   3|    34.62|       11250|  Frederick Ke|
+---+--------+---+-----------+--------------------+---------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
only showing top 5 rows

Filtered DataFrame for January 2024:
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|Sno|    Date|Day|Hour of Day|Trip Start Time HHMM|  Pickup District| DropOff District|Distance Travelled|Trip Duration in Seconds|      Trip End Time|Taxi Number|Taxi Type|Taxi Capacity|Number Of Passengers|Trip Fare|Passenger ID|Passenger Name|
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
|  1|1-Jan-24|Mon|          0| 2025-09-01 00:01:00|        Kew Drive|         Clementi|              25.1|                    3001|2025-09-01 01:50:00|    SHY6685| Standard|            4|                   2|    49.91|       11841|     Ellen Han|
|  2|1-Jan-24|Mon|          0| 2025-09-01 00:01:00|           Marina|    Clementi Park|              12.8|                    1671|2025-09-01 00:29:00|    SHY1488| Mini Cab|            3|                   3|    28.17|       10126|  Matthew Feng|
|  3|1-Jan-24|Mon|          0| 2025-09-01 00:02:00|           Bishan|      Hume Avenue|              19.8|                    3332|2025-09-01 01:57:00|    SHX0354| Standard|            4|                   1|    44.67|       11259|      Agnes Bi|
|  4|1-Jan-24|Mon|          0| 2025-09-01 00:05:00|      Suntec City| Upper East Coast|              16.8|                    2904|2025-09-01 01:52:00|    SHZ0338| Mini Cab|            3|                   1|    37.54|       10710|   Harry Huang|
|  5|1-Jan-24|Mon|          0| 2025-09-01 00:06:00|        Chinatown|          Geylang|              17.6|                    2413|2025-09-01 01:45:00|    SHY5827| Mini Cab|            4|                   3|    34.62|       11250|  Frederick Ke|
|  6|1-Jan-24|Mon|          0| 2025-09-01 00:08:00|   Admiralty Road|      High Street|              13.6|                    1812|2025-09-01 01:37:00|    SHX4463|  Premier|            4|                   4|    28.71|       12313|    George Guo|
|  7|1-Jan-24|Mon|          0| 2025-09-01 00:08:00|       Macpherson|   Admiralty Road|               2.3|                     507|2025-09-01 00:16:00|    SHX7806| Maxi Cab|            7|                   7|     8.11|       11347|     Ethel Man|
|  8|1-Jan-24|Mon|          0| 2025-09-01 00:09:00|      Middle Road|Orchard Boulevard|               4.9|                     845|2025-09-01 00:23:00|    SHY1409| Standard|            4|                   1|    12.43|       11178|   Judith Gong|
|  9|1-Jan-24|Mon|          0| 2025-09-01 00:09:00|       East Coast|         Hillview|              29.5|                    3740|2025-09-01 01:10:00|    SHX7554| Standard|            4|                   2|    55.69|       11554|     Ruby Ling|
| 10|1-Jan-24|Mon|          0| 2025-09-01 00:09:00|North Bridge Road|      Middle Road|               2.1|                     489|2025-09-01 00:17:00|    SHY6024| Standard|            4|                   1|     7.74|       12225|     Derek Cha|
| 11|1-Jan-24|Mon|          0| 2025-09-01 00:09:00|        Pasir Ris|          Seletar|               9.9|                    1097|2025-09-01 00:28:00|    SHX2773| Standard|            4|                   1|    24.69|       10667|   Kelly Chang|
| 12|1-Jan-24|Mon|          0| 2025-09-01 00:10:00|            Bedok|           Marina|              18.0|                    2739|2025-09-01 01:55:00|    SHY0615| Standard|            4|                   3|    42.85|       10937|    Iris Zhang|
| 13|1-Jan-24|Mon|          0| 2025-09-01 00:10:00|   Admiralty Road|       Queenstown|               8.7|                    1332|2025-09-01 01:32:00|    SHY7111| Standard|            4|                   1|    20.52|       10578|     Jane Heng|
| 14|1-Jan-24|Mon|          0| 2025-09-01 00:11:00|      Paya Lebar |    Clementi Park|              22.3|                    3267|2025-09-01 01:05:00|    SHY9805| Mini Cab|            3|                   2|     43.0|       10501|     Alan Weng|
| 15|1-Jan-24|Mon|          0| 2025-09-01 00:12:00|     Harbourfront|    Sungei Gedong|              19.3|                    2668|2025-09-01 01:56:00|    SHX7757| Maxi Cab|            6|                   3|    38.23|       10146|  Sai Merchant|
| 16|1-Jan-24|Mon|          0| 2025-09-01 00:12:00|          Seletar|           Keppel|               5.2|                     957|2025-09-01 00:28:00|    SHY4520|  Premier|            4|                   2|    14.47|       12074|    Melissa Wu|
| 17|1-Jan-24|Mon|          0| 2025-09-01 00:14:00|      Shenton Way|      Bouna Vista|               5.9|                     942|2025-09-01 00:29:00|    SHY9111| Standard|            4|                   4|    14.53|       11260|     Louis Tai|
| 18|1-Jan-24|Mon|          0| 2025-09-01 00:14:00|      Tanjong Rhu|           Jurong|              25.9|                    3261|2025-09-01 01:08:00|    SHZ9323| Maxi Cab|            7|                   6|    54.62|       12139|     Sydney Ke|
| 19|1-Jan-24|Mon|          0| 2025-09-01 00:16:00|             Sims|           Katong|               3.4|                     583|2025-09-01 00:26:00|    SHZ6559| Mini Cab|            4|                   2|    10.04|       11583|   Parin Dubey|
| 20|1-Jan-24|Mon|          0| 2025-09-01 00:22:00| Upper East Coast|           Yishun|               5.6|                     902|2025-09-01 01:36:00|    SHX9762| Standard|            4|                   4|    15.29|       10885|   Rosina Teng|
+---+--------+---+-----------+--------------------+-----------------+-----------------+------------------+------------------------+-------------------+-----------+---------+-------------+--------------------+---------+------------+--------------+
only showing top 20 rows

Number of trips in January 2024: 49608
The average distance per trip in January 2024 is: 11.902674971778234

6. Find the total fares collected grouped by Taxi Type Maxi Cab

In [18]:
# Find the total fares collected for Maxi Cab taxi type using Spark SQL
total_maxi_cab_fares = tripdata_df.filter("`Taxi Type` = 'Maxi Cab'").agg({"Trip Fare": "sum"}).collect()[0][0]

# Display the total fares
print(f"The total fares collected for Maxi Cab taxi types is: {total_maxi_cab_fares}")

The total fares collected for Maxi Cab taxi types is: 124899.21999999954

C. Analytics Questions

7. Determine  the  Average  Occupancy  i.e.,  (Number  of  Passengers  /  Passenger  Capacity)  for
Standard Taxis.

In [19]:
from pyspark.sql.functions import col

# Filter for Standard Taxis
standard_taxis_df = tripdata_df.filter("`Taxi Type` = 'Standard'")

# Calculate the occupancy for each trip and then the average occupancy
average_occupancy_standard = standard_taxis_df.withColumn(
    "Occupancy", col("Number Of Passengers") / col("Taxi Capacity")
).agg({"Occupancy": "avg"}).collect()[0][0]

# Display the average occupancy
print(f"The average occupancy for Standard Taxis is: {average_occupancy_standard}")

The average occupancy for Standard Taxis is: 0.5380241501943595

8. Determine  Fares  Collected  by  Day  of  the  Week  (ie.,  Sun,  Mon,  Tue)  for  the  month  of  Jan
2024.

In [20]:
from pyspark.sql.functions import sum

# Filter for trips in January 2024
january_trips_df = tripdata_df.filter("Date LIKE '%-Jan-24'")

# Group by Day and calculate the sum of Trip Fare
fares_by_day = january_trips_df.groupBy("Day").agg(sum("Trip Fare").alias("TotalFares"))

# Order by a specific order of days (optional, for better readability)
from pyspark.sql.functions import when

day_order = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
fares_by_day_ordered = fares_by_day.orderBy(when(col("Day") == day_order[0], 1).when(col("Day") == day_order[1], 2).when(col("Day") == day_order[2], 3).when(col("Day") == day_order[3], 4).when(col("Day") == day_order[4], 5).when(col("Day") == day_order[5], 6).otherwise(7))

# Display the total fares by day
fares_by_day_ordered.show()

+---+------------------+
|Day|        TotalFares|
+---+------------------+
|Mon| 214250.2599999994|
|Tue|210078.47999999952|
|Wed|205085.19999999984|
|Thu| 173608.9599999996|
|Fri| 156416.1700000004|
|Sat|107823.31000000001|
|Sun|110995.21000000022|
+---+------------------+

9. Prepare a Tabulation report showing total revenue against the two dimensions Hour of the
day AND Day of the Week.

In [21]:
from pyspark.sql.functions import sum

# Group by Day and Hour of Day and calculate the sum of Trip Fare
revenue_by_day_hour = tripdata_df.groupBy("Day", "`Hour of Day`").agg(sum("Trip Fare").alias("TotalRevenue"))

# Pivot the table to show Day of the Week as rows and Hour of Day as columns
revenue_pivot = revenue_by_day_hour.groupBy("Day").pivot("`Hour of Day`").sum("TotalRevenue")

# Order by a specific order of days (optional, for better readability)
from pyspark.sql.functions import when

day_order = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
revenue_pivot_ordered = revenue_pivot.orderBy(when(col("Day") == day_order[0], 1).when(col("Day") == day_order[1], 2).when(col("Day") == day_order[2], 3).when(col("Day") == day_order[3], 4).when(col("Day") == day_order[4], 5).when(col("Day") == day_order[5], 6).otherwise(7))


# Display the tabulation report
revenue_pivot_ordered.show()

+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+
|Day|                 0|                 1|                 2|                 3|                 4|                 5|                 6|                 7|                 8|                 9|                10|                11|                12|                13|                14|                15|                16|                17|                18|                19|                20|                21|               22|                23|
+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+
|Mon|           2727.88| 4974.420000000001| 5251.459999999998| 4430.079999999999| 4517.350000000003| 5346.120000000001| 9869.130000000006|19267.159999999996|22737.860000000033|17801.020000000008|  9182.48999999999| 5104.569999999999| 3962.850000000003| 5592.519999999997| 4787.510000000003| 4519.660000000001| 6532.920000000003|11470.900000000003|14676.440000000004|14082.660000000007|12727.109999999999|11704.569999999998|8263.549999999996| 4720.030000000001|
|Tue|2502.9100000000003| 5010.670000000001|4842.0999999999985| 4554.550000000001| 5121.709999999998| 4879.919999999999|          10210.68|19550.570000000003|23136.649999999987|17894.880000000016| 9556.670000000007|4419.5599999999995| 5848.919999999996| 4606.700000000001|4921.5999999999985| 4990.619999999998| 6665.639999999999|10603.840000000006|13111.490000000005| 13720.80999999999|          11947.56| 9897.330000000002|7859.999999999998| 4223.100000000001|
|Wed|           2452.29| 4296.629999999999| 3834.989999999999| 4323.279999999998| 4148.080000000001| 4848.519999999999| 9720.219999999996|17407.550000000017| 21679.83000000001|16006.019999999984| 7901.750000000002|4708.0599999999995| 4917.960000000001|           5198.82| 4438.419999999998|           4998.28| 6010.029999999998|10979.179999999997|14223.480000000003|14913.900000000001|          13187.12|11713.539999999997|8450.830000000002| 4726.420000000002|
|Thu|2162.7800000000007| 4838.880000000002| 4724.799999999999| 5230.980000000002| 4277.799999999999|           4232.19|          10169.93|          18911.14|19026.589999999997|          12782.89| 6813.269999999999| 3124.699999999999|3651.0599999999986|           3510.75|           3421.24|3508.9699999999993|           4267.18| 8987.449999999999|10153.460000000005|10294.830000000004|10860.779999999999| 8287.890000000001|6687.150000000004|3682.2499999999995|
|Fri|1612.2700000000004|3671.1499999999996|3178.7700000000013|3579.1800000000003|3320.8999999999987|4062.1999999999994| 7297.149999999999|13450.509999999995| 16741.48000000001|13135.699999999986|6410.5599999999995|3488.0800000000004|3998.9599999999996| 3540.750000000002| 3601.960000000001| 3704.180000000002| 4573.500000000001| 7684.279999999995|10496.860000000006|10639.179999999997| 9901.840000000004| 8617.710000000001|6466.240000000003|3242.7600000000007|
|Sat|           1698.53|3109.3600000000006|           2797.83| 2995.920000000001|2323.9799999999996|2860.4600000000023| 3035.159999999999| 5658.960000000001| 5906.219999999998|           5576.45|            2889.9| 2703.609999999999|2606.2800000000007|2072.2100000000005|            1776.1|2378.9900000000002|3875.6899999999987| 6325.459999999999| 9054.640000000001|           8673.83| 8395.759999999997| 9996.570000000005|7455.490000000004|           3655.91|
|Sun|1251.2800000000002| 3028.100000000001|            3246.2|           3100.96|3497.9299999999994|3364.6400000000012|3192.7799999999993| 4590.029999999999|6739.0000000000055| 5145.920000000003|           3044.97|2718.6000000000013| 2636.359999999999|           2501.62| 2159.400000000001|2365.9300000000003|3294.1599999999985| 6574.620000000005| 9317.110000000002| 9920.189999999995| 9716.950000000008|  9393.72000000001|6458.329999999997|3736.4099999999994|
+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+

10.  Compare the total number of trips per day made by all taxis in weekends vs the total number
of trips made per day during weekdays in the month of Jan 2024.

In [22]:
from pyspark.sql.functions import col, count, when

# Filter for trips in January 2024
january_trips_df = tripdata_df.filter("Date LIKE '%-Jan-24'")

# Categorize days as Weekend or Weekday
trips_with_day_type = january_trips_df.withColumn(
    "DayType",
    when(col("Day").isin(["Sat", "Sun"]), "Weekend").otherwise("Weekday")
)

# Group by DayType and count the trips
trip_counts_by_day_type = trips_with_day_type.groupBy("DayType").agg(count("*").alias("TotalTrips"))

# Display the comparison
trip_counts_by_day_type.show()

+-------+----------+
|DayType|TotalTrips|
+-------+----------+
|Weekday|     40328|
|Weekend|      9280|
+-------+----------+

D. Multiple Entities Joining and multiple formats joined in a DataFrame

11.  Determine the total fares paid by all Gold Status Passengers in the month of Jan 2024. What
percentage does this make from the total fares for all customers in month of Jan 2024.

In [24]:
from pyspark.sql.functions import sum, col

# Load the Passengers.CSV file into a Spark DataFrame
passengers_df = spark.read.csv("/content/drive/Othercomputers/My Laptop/NUS_GDrive/Big data/workshopData/data/BEAD_Rebu_Passengers.csv", header=True, inferSchema=True)

# Join tripdata_df with passengers_df on Passenger ID
# Assuming the Passenger ID column in passengers_df is named 'Passenger ID'
joined_df = tripdata_df.join(passengers_df, on=(tripdata_df["Passenger ID"] == passengers_df["PassengerID"]), how="inner")


# Filter for trips in January 2024 and Gold Status Passengers
gold_january_trips_df = joined_df.filter("Date LIKE '%-Jan-24' AND `MemberStatus` = 'Gold'")

# Calculate the total fares for Gold Status Passengers in January 2024
total_gold_fares_january = gold_january_trips_df.agg(sum("Trip Fare").alias("TotalGoldFares")).collect()[0][0]

# Filter for all trips in January 2024 to calculate total fares for all customers
all_january_trips_df = tripdata_df.filter("Date LIKE '%-Jan-24'")

# Calculate the total fares for all customers in January 2024
total_all_fares_january = all_january_trips_df.agg(sum("Trip Fare").alias("TotalAllFares")).collect()[0][0]

# Calculate the percentage
percentage_gold_fares = (total_gold_fares_january / total_all_fares_january) * 100 if total_all_fares_january is not None and total_all_fares_january != 0 else 0

# Display the results
print(f"Total fares paid by Gold Status Passengers in January 2024: {total_gold_fares_january}")
print(f"Total fares for all customers in January 2024: {total_all_fares_january}")
print(f"Percentage of total fares by Gold Status Passengers in January 2024: {percentage_gold_fares:.2f}%")

Total fares paid by Gold Status Passengers in January 2024: 326794.3900000003
Total fares for all customers in January 2024: 1178257.590000008
Percentage of total fares by Gold Status Passengers in January 2024: 27.74%