<a href="https://colab.research.google.com/github/ngtianxun08/bigDataworkshops/blob/main/Workshop_10_Spark_DataFrame_Basics_(Colab).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1 This question is testing your understanding of Python Basics.

In [5]:
# a) What is 8 to the power 4?
print(8**4)

4096

In [6]:
# b) Split this string “Split this string”
print("Split this string".split())

['Split', 'this', 'string']

In [7]:
# c) Given the variables: planet = “Earth”, diameter = 12742, use .format() to print the following string “The diameter of Earth is 12742 kilometers.”
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

In [8]:
# d) Given the name list, use indexing to grab word “target”, the_list = [1,2,[3,4],[5,[100,200,['target']],23,11],1,7]
the_list = [1,2,[3,4],[5,[100,200,['target']],23,11],1,7]
print(the_list[3][1][2][0])

target

In [9]:
# e) Given this nest dictionary grab the work “hello”. The_dic = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
The_dic = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(The_dic['k1'][3]['tricky'][3]['target'][3])

hello

In [10]:
# f) Create a basic function that returns True if the word 'elephant' is contained in the input string.
# Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.
def has_elephant(input_string):
  """Checks if the word 'elephant' is in the input string (case-insensitive)."""
  return 'elephant' in input_string.lower()

# Example usage:
print(has_elephant("This string contains an Elephant."))
print(has_elephant("No elephants here."))

True
True

In [11]:
# g) Create a function that counts the number of times the word "elephant" occurs in a string.
# Again ignore edge cases.
def count_elephants(input_string):
  """Counts the number of times the word 'elephant' appears in a string (case-insensitive)."""
  return input_string.lower().count('elephant')

# Example usage:
print(count_elephants("Elephant and elephant and another Elephant."))
print(count_elephants("No elephants."))

3
1

In [12]:
# h) Write a function to return one of 3 possible results: "Low speed", "Medium speed", or "Fast speed".
# If your speed is 60 or less, the result is "Low speed". If speed is between 61 and 80 inclusive, the result is "Medium speed".
# If speed is 81 or more, the result is "Fast speed".
# Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.
def get_speed_category(speed, is_birthday):
  """Determines speed category based on speed and birthday."""
  if is_birthday:
    speed += 5

  if speed <= 60:
    return "Low speed"
  elif 61 <= speed <= 80:
    return "Medium speed"
  else:
    return "Fast speed"

# Example usage:
print(get_speed_category(55, False))
print(get_speed_category(60, True))
print(get_speed_category(75, False))
print(get_speed_category(80, True))
print(get_speed_category(85, False))

Low speed
Medium speed
Medium speed
Fast speed
Fast speed

Q2 This question is testing your understanding of PySpark operations on DataFrame.

In [19]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import min, max, avg, sum, count

# Create a SparkSession
spark = SparkSession.builder.appName("PySparkOperations").getOrCreate()

# Given data
data = [("James","Sales","SG",70000,34,10000),
        ("Michael","Sales","SG",66000,56,20000),
        ("Robert","Sales","MY",61000,30,23000),
        ("Maria","Finance","MY",60000,24,23000),
        ("Raman","Finance","USA",79000,40,24000),
        ("Scott","Finance","USA",63000,36,19000),
        ("Jen","Finance","UK",89000,53,15000),
        ("Jeff","Marketing","UK",70000,25,18000),
        ("Alice","Marketing","UK",78000,50,21000),
        ("Ada","IT","SG",83000,35,11000),
        ("Jackson","IT","MY",71000,30,21000),
        ("Cooper","IT","UK",91000,40,21000)]

# Define schema
schema = ["employee_name", "department", "country", "salary", "age", "bonus"]

# Create DataFrame
df = spark.createDataFrame(data, schema)

# Show data and print schema
print("DataFrame Data:")
df.show()

print("DataFrame Schema:")
df.printSchema()

DataFrame Data:
+-------------+----------+-------+------+---+-----+
|employee_name|department|country|salary|age|bonus|
+-------------+----------+-------+------+---+-----+
|        James|     Sales|     SG| 70000| 34|10000|
|      Michael|     Sales|     SG| 66000| 56|20000|
|       Robert|     Sales|     MY| 61000| 30|23000|
|        Maria|   Finance|     MY| 60000| 24|23000|
|        Raman|   Finance|    USA| 79000| 40|24000|
|        Scott|   Finance|    USA| 63000| 36|19000|
|          Jen|   Finance|     UK| 89000| 53|15000|
|         Jeff| Marketing|     UK| 70000| 25|18000|
|        Alice| Marketing|     UK| 78000| 50|21000|
|          Ada|        IT|     SG| 83000| 35|11000|
|      Jackson|        IT|     MY| 71000| 30|21000|
|       Cooper|        IT|     UK| 91000| 40|21000|
+-------------+----------+-------+------+---+-----+

DataFrame Schema:
root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- country: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

In [20]:
# Group by department and calculate aggregates
department_aggregates = df.groupBy("department").agg(
    min("salary").alias("min_salary"),
    max("salary").alias("max_salary"),
    avg("salary").alias("average_salary"),
    sum("salary").alias("total_salary"),
    count("*").alias("employee_count")
)

print("Aggregates by Department:")
department_aggregates.show()

Aggregates by Department:
+----------+----------+----------+-----------------+------------+--------------+
|department|min_salary|max_salary|   average_salary|total_salary|employee_count|
+----------+----------+----------+-----------------+------------+--------------+
|     Sales|     61000|     70000|65666.66666666667|      197000|             3|
|   Finance|     60000|     89000|          72750.0|      291000|             4|
| Marketing|     70000|     78000|          74000.0|      148000|             2|
|        IT|     71000|     91000|81666.66666666667|      245000|             3|
+----------+----------+----------+-----------------+------------+--------------+

In [21]:
# Group by country and calculate aggregates
country_aggregates = df.groupBy("country").agg(
    min("salary").alias("min_salary"),
    max("salary").alias("max_salary"),
    avg("salary").alias("average_salary"),
    sum("salary").alias("total_salary"),
    count("*").alias("employee_count")
)

print("Aggregates by Country:")
country_aggregates.show()

Aggregates by Country:
+-------+----------+----------+--------------+------------+--------------+
|country|min_salary|max_salary|average_salary|total_salary|employee_count|
+-------+----------+----------+--------------+------------+--------------+
|     MY|     60000|     71000|       64000.0|      192000|             3|
|    USA|     63000|     79000|       71000.0|      142000|             2|
|     SG|     66000|     83000|       73000.0|      219000|             3|
|     UK|     70000|     91000|       82000.0|      328000|             4|
+-------+----------+----------+--------------+------------+--------------+